* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
  }
  
  html, body {
    height: 100%;
    overflow-x: hidden; /* Impede rolagem horizontal indesejada */
    margin: 0;
  }
  
  body {
    background: #705b35;
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Alinha o conteúdo ao topo */
    height: 100%;
    padding: 20px; /* Adicionando padding para evitar que o conteúdo encoste nas bordas */
  }
  
  .container {
    background: #5782A8; 
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 7px 25px #462C00, inset 0px 15px 500px #5782A8; 
    width: 100%;
    max-width: 500px;
    margin-bottom: 20px; /* Garantir que haja espaço abaixo do formulário */
  }
  
  .container h2 {
    text-align: center;
    color: #462C00;
    font-size: 47px;
    margin-bottom: 20px;
    transition: all 0.3s; 
  }

  .container h2:hover {
    transform: scale(1.1);
    color: white;
    text-decoration: underline;
  }

  p {
    color: #f8f8f8; /*to tentando descobrir de onde é esse baguio*/
  }

  form {
    display: flex;
    flex-direction: column;
  }
  
  .container label {
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: 500;
    color: white;
    transition: all 0.3s;
  }

  input, select, textarea {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    transition: border 0.3s;
    color: #462C00; 
  }
  
  input:focus, select:focus, textarea:focus {
    border-color: #ffffff;
    outline: none;
  }
  
  button {
    background-color: #705b35;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 5px;
    font-size: 24px;
    cursor: pointer;
    box-shadow: 0px 8px 35px #000000;
    transition: all 0.3s;
  }
  
  button:hover {
    background-color: #5f4923;
    color: rgb(130, 180, 224);
    transform: translateY(-5px) scale(1.08);
    box-shadow: 0px 6px 8px #5c523b;
  }
  
  .radio-group, .checkbox-group {
    margin-bottom: 15px;
  }
  
  .radio-group label, .checkbox-group label {
    display: inline-block;
    margin-right: 20px;
    color: #ffffff;
  }
  
  .checkbox-group input {
    margin-right: 5px;
  }
  
  small {
    font-size: 12px;
    color: rgba(243, 186, 111, 0.719);
  }
  
  @media (max-width: 600px) {
    .container {
      padding: 20px;
    }
  }