* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
  }
  
  html, body {
    height: 100%;
    overflow-x: hidden; /* Impede rolagem horizontal indesejada */
    margin: 0;
  }
  
  body {
    background: linear-gradient( to bottom right, whitesmoke, rgb(110, 110, 110));
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Alinha o conteúdo ao topo */
    height: 100%;
    padding: 20px; /* Adicionando padding para evitar que o conteúdo encoste nas bordas */
  }
  
  .container {
    background: #1377fa;
    padding: 30px;
    border-radius: 10px;
    width: 100%;
    max-width: 550px;
    margin-bottom: 20px; /* Garantir que haja espaço abaixo do formulário */
  }
  
  h2 { /*seria interessante se a gente conseguisse fazer um hover para esse h2 em branco com um underline tbm*/
    text-align: center;
    color: #000000 /*to pensando em colocar esse bghl em branco, mas ce ve ai*/;
    font-size: 47px;
    margin-bottom: 20px;
    transition: all 0.3s; 
  }

  p {
    color: #000000; /*to tentando descobrir de onde é esse baguio*/
  }

  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: 500;
    color: rgb(0, 0, 0)
  }
  
  input, select, textarea {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #000000;
    border-radius: 5px;
    font-size: 16px;
    transition: border 0.3s;
    color: rgb(92, 66, 31);/*essa cor eh boa pro txt, mas fica ruim pro bglh de selecionar imagem. oq fazer?*/ 
  }
  
  input:focus, select:focus, textarea:focus {
    border-color: #ffffff;
    outline: none;
  }
  
  button {
    background-color: #ffffff00;
    color: #ffffff;
    padding: 12px;
    border: whitesmoke 2px solid;
    border-radius: 5px;
    font-size: 24px;
    cursor: pointer;
    transition: all 0.3s;
  }
  
  button:hover {
    background-color: #ffffff;
    color: #000000;
    transform: translateY(-5px) scale(1.08);
  }
  
  .radio-group, .checkbox-group {
    margin-bottom: 15px;
  }
  
  .radio-group label, .checkbox-group label {
    display: inline-block;
    margin-right: 20px;
    color: #ffffff;
  }
  
  .checkbox-group input {
    margin-right: 5px;
  }
  
  small {
    font-size: 12px;
    color: rgba(190, 151, 99, 0.719);
  }
  
  @media (max-width: 600px) {
    .container {
      padding: 20px;
    }
  }