* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    cursor: url(../IMG/comum.png), auto; /*Mouse bunitin, ainda não consigo mudar dentro dos negocio de multipla escolha*/
  }
  
  html, body {
    height: 100%;
    overflow-x: hidden; /* Impede rolagem horizontal indesejada */
    margin: 0;
  }
  
/*ITALO DEIXA TODOS OS TEXTOS DA COR QUE ESTÂO, E NÃO COLOCA HOVER EM NENHUM DELES BELE?*/
/*ITALO DEIXA TODOS OS TEXTOS DA COR QUE ESTÂO, E NÃO COLOCA HOVER EM NENHUM DELES BELE?*/
/*ITALO DEIXA TODOS OS TEXTOS DA COR QUE ESTÂO, E NÃO COLOCA HOVER EM NENHUM DELES BELE?*/
/*ITALO DEIXA TODOS OS TEXTOS DA COR QUE ESTÂO, E NÃO COLOCA HOVER EM NENHUM DELES BELE?*/
/*ITALO DEIXA TODOS OS TEXTOS DA COR QUE ESTÂO, E NÃO COLOCA HOVER EM NENHUM DELES BELE?*/

  body {
    background: linear-gradient( to bottom right, rgb(248, 212, 170), rgb(248, 169, 145)); /*To usando essas cores pq elas são mais convidativas, faz sentido a uma escola*/
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Alinha o conteúdo ao topo */
    height: 100%;
    padding: 20px; /* Adicionando padding para evitar que o conteúdo encoste nas bordas */
    
  }
  
  .container {
    background: radial-gradient(whitesmoke, rgba(245, 245, 245, 0.952), rgba(245, 245, 245, 0.644));/*dá um efeitin de transparencia nas bordas*/
    padding: 30px;
    border-radius: 10px;
    width: 100%;
    max-width: 675px;
    margin-bottom: 20px; /* Garantir que haja espaço abaixo do formulário */
  }
  
  .container h2 {
    text-align: center;
    color: #000000;
    font-family: 'Times New Roman', Times, serif;
    font-size: 55px;
    margin-bottom: 20px;
  }

  .container #foto {
    background: whitesmoke;
  }

  p {
    color: #000000;
  }

  form {
    display: flex;
    flex-direction: column;
    cursor: url(../IMG/comum.png), auto; /*Mouse bunitin, ainda não consigo mudar dentro dos negocio de multipla escolha*/
  }
  .container label {
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: 500;
    color: rgb(0, 0, 0)
  }
  
  input, select, textarea {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #000000;
    border-radius: 5px;
    font-size: 16px;
    transition: border 0.3s;
    color: #462C00; 
    transition: all 0.2s ease;
    cursor: url(../IMG/hand-pointer.png), auto; /*Mouse bunitin, ainda não consigo mudar dentro dos negocio de multipla escolha*/
  }

  input:focus, select:focus, textarea:focus {
    border-color: #ff6600;
    outline: none;
    transform: scale(1.05);
  }

  input:hover, select:hover, textarea:hover {
    border-color: #ff6600;
    outline: none;
    transform: scale(1.05);
  }

  button {
    background: radial-gradient(circle, #ff5100b2, #ff5100bb, #ff5100af, #ff510000);
    color: #292929;
    padding: 12px;
    border: none;
    border-radius: 5px;
    font-size: 24px;
    cursor: pointer;
    transition: all 0.3s;
  }
  
  button:hover {
    background-color: #f58d2dc7;
    color: #000000;
    transform: translateY(-5px) scale(1.08);
    cursor: url(../IMG/hand-pointer.png), auto; /*Mouse bunitin, ainda não consigo mudar dentro dos negocio de multipla escolha*/
  }
  
  .radio-group, .checkbox-group {
    margin-bottom: 15px;
    border-bottom: #4141416b 1px solid;
    text-align: center;
  }
  
  .radio-group label, .checkbox-group label {
    display: inline-block;
    margin-right: 20px;
    color: #000000;
  }

  .radio-group input {
    margin-right: 5px;
    transition: all 0.1s ease;
  }

  .radio-group input:hover {
    transform: scale(1.3);
  }

  .checkbox-group input {
    margin-right: 5px;
    transition: all 0.1s ease;
  }

  .checkbox-group input:hover {
    transform: scale(1.3);
  }

  #atividades {
    border-bottom: none;
    margin-bottom: 10px;
  }
  
  small {
    font-size: 15px;
    color: rgb(255, 180, 82);
  }
  
  @media (max-width: 600px) {
    .container {
      padding: 20px;
    }
  }